/*PAGE STYLING*/
body {
  background-color: #007EA7;
}



/*JUMBOTRON*/
.jumbotron {
  margin-top: 50px;
  background-color: #FFFFFF;
  min-height: 400px;
  opacity: 0.50;
  border: solid;
  border-color: #00171F;
  border-width: 2px;
}

/*front-content*/

.front-content {
  margin-left: 50px;
  margin-right: 50px;
  text-align: left;
  text-align: justify;
}

/*GLYPHICONS*/

.glyphicon {
  font-size: 3em;
  float: right;
}

/*text-blocks*/

.text-blocks {
  display: inline-block;
  border: solid;
  border-color: #00171F;
  border-width: 2px;
  background-color: #003459;
  min-height: 200px;
  opacity: 0.75;
  max-width: 370px;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
}

/*about-me*/

.about-me-img {
  max-height: 200px;
  width: auto;
}
.about-me-title{
  text-align: left;
}
.about-me-row{
  margin-left: 50px;
  margin-right: 50px;
  text-align: left;
  text-align: justify;
  border: solid;
  border-width: medium;;
  border-color: black;
  padding: 20px;
  margin-top: 50px;

}
.about-me-content {
  text-align: center;
  padding: 20px;

}
.about-me-pics {
  margin-top: 50px;

}

/*projects*/

.projects-title {
  text-align: left;
  padding-bottom: 50px;
}

.projects-row {
  margin-left: 50px;
  margin-right: 100px;
  text-align: left;
  text-align: justify;
  padding: 20px;
  margin-top: 50px;
}
.projects-text-blocks {
  display: inline-block;
  border: solid;
  border-color: black;
  border-width: 2px;
  background-color: #D5D9D8;
  min-height: 300px;
  max-width: 306px;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.projects-img {
    max-height: 100px;
    width: auto;
    padding-top: 5px;
    padding-bottom: 10px;
}
.projects-links {
  float: none;
}

/*NAVBAR*/
.navbar-default {
  background-color: #003459;
  border-color: #007ea7;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #00a7e1;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #00a7e1;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #00a7e1;
  background-color: #007ea7;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #00a7e1;
  background-color: #007ea7;
}
.navbar-default .navbar-toggle {
  border-color: #007ea7;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #007ea7;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #00a7e1;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #00a7e1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #00a7e1;
    background-color: #007ea7;
  }
}
